/* Stilmall för Bonz.ai */

@font-face {
    font-family: 'Montserrat';
    src: url('/path/to/montserrat.woff2') format('woff2'),
         url('/path/to/montserrat.woff') format('woff');
}

body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F1E8;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Header & Nav  */

.header {
    background-color: #1C2331;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: #FFC857 5px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.navbar__item {
    font-size: 18px;
}

.navbar__link {
    color: #1C2331;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFC857;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 700;
}

.navbar__link:hover {
    text-decoration: underline;
}

/* Huvudinnehåll */

main {
    background-color: #1C2331;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1C2331;
    color: white;
    padding: 15px;
}

.welcome-page__content {
    padding: 50px;
    width: 50%;
}

.welcome-page__title {
    font-size: 32px;
    margin-bottom: 10px;
}

.welcome-page__description {
    font-size: 18px;
    margin-bottom: 20px;
}

.welcome-page__button {
    padding: auto;
    background-color: #FFC857;
    color: #1C2331;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
}

.welcome-page__image img {
    width: 100%;
}

.welcome-page__image {
    width: 30%;
    aspect-ratio: 1;
}

/* Recensioner */
.reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-top: #FFC857 5px solid;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 33%;
}

.review__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.review__description {
    font-size: 14px;
    margin-bottom: 10px;
}

.review__author {
    font-size: 12px;
    color: #FFC857;
}

.review__stars {
    display: flex;
    flex-direction: row;
}

.review__stars img {
    width: 20px;
    height: 20px;
}

/* Om sidan */

.hotel-info {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.hotel-info__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.hotel-info__description {
    font-size: 16px;
    margin-bottom: 10px;
}

.rooms {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.rooms__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.room {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.room__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.room__image {
    width: 100%;
    aspect-ratio: unset;
    margin-bottom: 10px;
    border: #FFC857 5px solid;
    border-radius: 5px;
}

.room__description {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

/* Bokningssida */

.booking {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 30px;
}

.booking__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.booking__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 30%;
}

.booking__form-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.booking__label {
    font-size: 16px;
}

.booking__input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.booking__button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFC857;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    width: 5rem;
}

.booking__results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.booking__results-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.booking__results-text {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}

.booking__results-image {
    width: 100%;
    aspect-ratio: unset;
    margin-bottom: 10px;
    border: #FFC857 5px solid;
    border-radius: 5px;
}

/* Footer */

.footer {
    background-color: #1C2331;
    color: white;
    padding-top: 3px;
    padding-bottom: 15px;
    max-width: 1400px;
    margin: auto;
    border-top: #FFC857 5px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__link {
    color: #FFC857;
    text-decoration: none;
    font-size: 16px;
}

.footer__link:hover {
    text-decoration: underline;
}

/* Media query för mobila enheter */

@media only screen and (max-width: 600px) {
    .welcome-page__image {
        width: 100%;
        aspect-ratio: unset;
    }

    .reviews {
        flex-direction: column;
    }

    .review {
        width: 100%;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-page__content {
        padding: 20px;
        width: 100%;
    }

    .review__description {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
